@charset "UTF-8";
:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primery-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --logo-text-black: #000000;
  --taam-bg-color: #f5f4fa;
  --btn-passive-bg-color: #f5f4fa;
  --project-list-border-color: #eeeeee;
  --social-icon-fill: #afb1b8;
  --transition_data: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.contaner {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .contaner {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .contaner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .contaner {
    width: 1200px;
  }
}

.section-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background-color: var(--primery-bg-color);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition_data), visibility var(--transition_data);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__contaner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    padding: 40px 48px;
    z-index: 100;
    overflow-y: scroll;
  }
  .close-mobile-menu-btn {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
  }
  .close-mobile-menu-btn__icon {
    transition: fill var(--transition_data);
  }
  .close-mobile-menu-btn:hover .close-mobile-menu-btn__icon, .close-mobile-menu-btn:focus .close-mobile-menu-btn__icon {
    fill: var(--accent-color);
  }
  .mobile-menu__link {
    display: block;
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition_data);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__item:not(:last-child) {
    padding-bottom: 32px;
  }
  .mobile-menu__link--current {
    color: var(--accent-color);
  }
  .mobile-menu-contact-list {
    margin-top: auto;
    margin-bottom: 64px;
  }
  .mobile-menu-contact-list__tel {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 32px;
    margin-top: auto;
    transition: color var(--transition_data);
  }
  .mobile-menu-contact-list__tel:hover, .mobile-menu-contact-list__tel:focus {
    color: var(--accent-color);
  }
  .mobile-menu-contact-list__mail {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transition_data);
  }
  .mobile-menu-contact-list__mail:hover, .mobile-menu-contact-list__mail:focus {
    color: var(--accent-color);
  }
  .mobile-menu-media-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .mobile-menu-media-list__item:not(:last-child)::after {
    content: "";
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    color: red;
  }
  .mobile-menu-media-list__link {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;
    color: var(--secondary-text-color);
    transition: color var(--transition_data);
  }
  .mobile-menu-media-list__link:hover, .mobile-menu-media-list__link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity var(--transition_data), visibility var(--transition_data);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 100%;
  height: auto;
  background-color: var(--primery-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal-window {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}

.modal-window__close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--transition_data), border-color var(--transition_data);
}
.modal-window__close-btn:hover, .modal-window__close-btn:focus {
  fill: var(--accent-color);
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__block {
  position: relative;
}

.modal-form__lable {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  margin-top: 10px;
}

.modal-form__lable--no-top-padding {
  margin-top: 0;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 42px;
  transition: border-color var(--transition_data);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primery-text-color);
  transition: fill var(--transition_data);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  overflow-y: auto;
  transition: border-color var(--transition_data);
}
.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__agreement-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .modal-form__agreement-label {
    font-size: 14px;
    line-height: 1.16;
  }
}

.modal-form__contract-terms {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-form__checkbox-icon {
  cursor: pointer;
  border: 1px solid var(--primery-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color var(--transition_data);
}
.modal-form__checkbox:checked + .modal-form__checkbox-icon {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.modal-form__checkbox:focus + .modal-form__checkbox-icon {
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
}

.modal-form__own-checkbox-icon {
  display: none;
}
.modal-form__checkbox:checked + .modal-form__checkbox-icon > .modal-form__own-checkbox-icon {
  display: block;
}

.modal-form__submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 200px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 30px auto 0px;
  border: none;
  transition: color var(--transition_data), background-color var(--transition_data);
}
.modal-form__submit-btn:hover, .modal-form__submit-btn:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 767px) {
  .menu__list {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .open-mobile-menu-btn {
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    line-height: 0;
  }
  .open-mobile-menu-btn__icon {
    transition: fill var(--transition_data);
  }
  .open-mobile-menu-btn:hover .open-mobile-menu-btn__icon, .open-mobile-menu-btn:focus .open-mobile-menu-btn__icon {
    fill: var(--accent-color);
  }
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-header__contaner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo__name-header {
  color: var(--logo-text-black);
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .page-header__contaner {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .logo__name-header {
    color: var(--logo-text-black);
  }
  .menu__list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  .menu__item:not(:last-child) {
    margin-right: 54px;
  }
  .menu__link {
    display: block;
    color: var(--primery-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition_data);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link--current {
    position: relative;
    color: var(--accent-color);
  }
  .menu__link--current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    row-gap: 10px;
  }
  .contact-list__link {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition_data);
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .contact-list__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    row-gap: 0;
    column-gap: 30px;
  }
  .menu__list {
    margin-left: 93px;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}
.hero__contaner {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .hero__contaner {
    height: 600px;
  }
}

.hero {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg-hero.jpg");
  background-color: #c4c4c4;
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg-hero@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg-hero.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg-hero@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/bg-hero.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/bg-hero@2x.jpg");
  }
}

.hero__title {
  color: var(--primery-bg-color);
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  cursor: pointer;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
  transition: background-color var(--transition_data);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    min-width: 216px;
  }
}

.feature-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .feature-list {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .feature-list__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__card {
    width: calc((100% - 90px) / 4);
  }
}

.feature-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--taam-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list__title {
  text-align: center;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.feature-list__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.our-work {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .our-work {
    display: none;
  }
}

.work-list {
  display: flex;
  column-gap: 30px;
}

.work-list__card {
  position: relative;
}

.work-list__text {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primery-bg-color);
}

.team {
  background-color: var(--taam-bg-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
}

.team-list__card {
  background-color: var(--primery-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__card {
    width: calc((100% - 90px) / 4);
  }
}

.team-list__image {
  width: 100%;
  padding-bottom: 30px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-list__profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  padding-bottom: 16px;
}

.media-list {
  display: flex;
  margin: 0;
  gap: 10px;
  padding-bottom: 24px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .media-list {
    padding-bottom: 30px;
  }
}

.media-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-icon-fill);
  fill: currentColor;
  transition: color var(--transition_data), background-color var(--transition_data);
}
.media-list__link:hover, .media-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--primery-bg-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients-list__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--social-icon-fill);
  border-radius: 4px;
  color: var(--social-icon-fill);
  fill: currentColor;
  transition: fill var(--transition_data), border-color var(--transition_data);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--secondary-bg-color);
  padding: 60px 0;
}

.footer__parts {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 1199px) {
  .footer__parts {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__parts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__parts {
    justify-content: space-between;
  }
}

.logo--bottom-margin {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__name-footer {
  color: var(--primery-bg-color);
}

.adress-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 1.71;
  row-gap: 9px;
}

.adress-list__post-adress {
  color: var(--primery-bg-color);
}

.adress-list__contacts {
  color: var(--footer-contacts-color);
  transition: color var(--transition_data);
}
.adress-list__contacts:hover, .adress-list__contacts:focus {
  color: var(--accent-color);
}

.social-media__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-bg-color);
  margin-bottom: 20px;
}

.social-media-list {
  display: flex;
  margin: 0;
  gap: 10px;
  justify-content: center;
}

.social-media-list__item {
  width: 44px;
  height: 44px;
}

.social-media-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--primery-bg-color);
  fill: currentColor;
  transition: background-color var(--transition_data);
}
.social-media-list__link:hover, .social-media-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--primery-bg-color);
}

/* Підпишись на розсилку */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
}

.subscribe-form__title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primery-bg-color);
}

.subscribe-form__input {
  margin-top: 20px;
  width: 100%;
  padding: 15px 16px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25px;
  color: var(--primery-bg-color);
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.subscribe-form__input::placeholder {
  color: var(--footer-contacts-color);
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}

.subscribe-form__button {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--accent-color);
  width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color var(--transition_data), background-color var(--transition_data);
}
@media screen and (min-width: 1200px) {
  .subscribe-form__button {
    margin-left: 12px;
    margin-top: 0;
  }
}
.subscribe-form__button:hover, .subscribe-form__button:focus {
  background-color: #188ce8;
}

.subscribe-form__icon {
  margin-left: auto;
  fill: var(--primery-bg-color);
  transition: fill var(--transition_data);
}

/* ===== ФІЛЬТР ===== */
.filter {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  column-gap: 8px;
}
@media screen and (max-width: 767px) {
  .filter {
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: start;
    max-width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button--active {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
}

/* ===== project-list ===== */
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .project-list {
    flex-direction: column;
  }
}

.project-list__card {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .project-list__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-list__card {
    width: calc((100% - 60px) / 3);
  }
}

.project-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--transition_data);
}
.project-list__link:hover, .project-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__card-title {
  color: var(--primery-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-list__card-discription {
  padding: 20px 24px;
  border: 1px solid var(--project-list-border-color);
  border-top: none;
  flex-grow: 1;
}

.project-list__card-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.project-list__overlay {
  position: relative;
  overflow: hidden;
}

.project-list__overlay-text {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: hidden;
  transition: transform var(--transition_data);
}
.project-list__link:hover .project-list__overlay-text, .project-list__link:focus .project-list__overlay-text {
  transform: translateY(-100%);
}/*# sourceMappingURL=main.css.map */