.footer {
  background-color: var(--secondary-bg-color);
  padding: 60px 0;
}

.footer__parts {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.logo--bottom-margin {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__name-footer {
  color: var(--primery-bg-color);
}

.adress-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 1.71;
  row-gap: 9px;
}

.adress-list__post-adress {
  color: var(--primery-bg-color);
}

.adress-list__contacts {
  color: var(--footer-contacts-color);
  transition: color var(--transition_data);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social-media__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-bg-color);
  margin-bottom: 20px;
}

.social-media-list {
  display: flex;
  margin: 0;
  gap: 10px;
  justify-content: center;
}

.social-media-list__item {
  width: 44px;
  height: 44px;
}

.social-media-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--primery-bg-color);
  fill: currentColor;

  transition: background-color var(--transition_data);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primery-bg-color);
  }
}

/* Підпишись на розсилку */

.subscribe-form {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
}

.subscribe-form__title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primery-bg-color);
}

.subscribe-form__input {
  // display: flex;
  margin-top: 20px;
  width: 100%;
  padding: 15px 16px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25px;
  color: var(--primery-bg-color);
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    color: var(--footer-contacts-color);
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscribe-form__button {
  margin-top: 20px;
  cursor: pointer;

  background-color: var(--accent-color);
  width: 200px;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    margin-top: 0;
  }

  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color var(--transition_data), background-color var(--transition_data);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.subscribe-form__icon {
  margin-left: auto;
  fill: var(--primery-bg-color);
  transition: fill var(--transition_data);
}
