.page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .menu__list {
    display: none;
  }

  .contact-list {
    display: none;
  }

  .open-mobile-menu-btn {
    border: none;
    cursor: pointer;
    padding: 0;
    // margin: 0;
    background-color: transparent;
    line-height: 0;
  }

  .open-mobile-menu-btn__icon {
    transition: fill var(--transition_data);

    .open-mobile-menu-btn:hover &,
    .open-mobile-menu-btn:focus & {
      fill: var(--accent-color);
    }
  }

  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-header__contaner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo__name-header {
  color: var(--logo-text-black);
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }

  .page-header__contaner {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .logo__name-header {
    color: var(--logo-text-black);
  }

  .menu__list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }

  .menu__item:not(:last-child) {
    margin-right: 54px;
  }

  .menu__link {
    display: block;
    color: var(--primery-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition_data);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .menu__link--current {
    position: relative;
    color: var(--accent-color);

    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -1px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    row-gap: 10px;
  }

  .contact-list__link {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition_data);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      line-height: 1.17;
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }

  .contact-list__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    row-gap: 0;
    column-gap: 30px;
  }

  .menu__list {
    margin-left: 93px;
  }

  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}
