@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background-color: var(--primery-bg-color);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition_data), visibility var(--transition_data);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__contaner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    padding: 48px 20px 48px 40px;
    z-index: 100;
    overflow-y: scroll;
  }

  .close-mobile-menu-btn {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
  }

  .close-mobile-menu-btn__icon {
    transition: fill var(--transition_data);

    .close-mobile-menu-btn:hover &,
    .close-mobile-menu-btn:focus & {
      fill: var(--accent-color);
    }
  }

  .mobile-menu__link {
    display: block;
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color var(--transition_data);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .mobile-menu__item:not(:last-child) {
    padding-bottom: 32px;
  }

  .mobile-menu__link--current {
    color: var(--accent-color);
  }

  .mobile-menu-contact-list {
    margin-top: auto;
    margin-bottom: 64px;
  }

  .mobile-menu-contact-list__tel {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 32px;
    margin-top: auto;

    transition: color var(--transition_data);
  }

  .mobile-menu-contact-list__mail {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);

    transition: color var(--transition_data);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .mobile-menu-media-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .mobile-menu-media-list__item:not(:last-child)::after {
    content: '';

    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
  }

  .mobile-menu-media-list__link {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;

    color: var(--accent-color);

    transition: color var(--transition_data);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}



@media screen and (max-width: 479px) {
  .mobile-menu-contact-list__tel {
    margin-bottom: 4vh;
  }

  .mobile-menu-contact-list {
    margin-bottom: 8vh;
  }

  .mobile-menu__item:not(:last-child) {
    padding-bottom: 4vh;
  }

  .mobile-menu__contaner {
    padding: 6vh 4vw 6vh 8vw;
  }

  .mobile-menu-media-list__item {
    padding-top: 1vh;
  }

  .mobile-menu__link {
    font-size: 0.01vw + 8.5;
  }

  .mobile-menu-contact-list__tel {
    font-size: 0.01vw + 7;
  }

  .mobile-menu-contact-list__mail {
    font-size: 0.01vw + 5;
  }

  .mobile-menu-media-list__link {
    font-size: 1vw + 3;
  }
}
