@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background-color: var(--primery-bg-color);
    // background-color: bisque;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition_data), visibility var(--transition_data);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__contaner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    padding: 40px 48px;
    z-index: 100;
    overflow-y: scroll;
  }

  .close-mobile-menu-btn {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
  }

  .close-mobile-menu-btn__icon {
    transition: fill var(--transition_data);

    .close-mobile-menu-btn:hover &,
    .close-mobile-menu-btn:focus & {
      fill: var(--accent-color);
    }
  }

  .mobile-menu__link {
    display: block;
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition_data);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .mobile-menu__item:not(:last-child) {
    padding-bottom: 32px;
  }

  .mobile-menu__link--current {
    color: var(--accent-color);
  }

  .mobile-menu-contact-list {
    margin-top: auto;
    margin-bottom: 64px;
  }

  .mobile-menu-contact-list__tel {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 32px;
    margin-top: auto;

    transition: color var(--transition_data);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .mobile-menu-contact-list__mail {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);

    transition: color var(--transition_data);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .mobile-menu-media-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

    .mobile-menu-media-list__item:not(:last-child)::after {
      content: '';
      width: 22px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      margin-left: 10px;
      color: red;
    }

  .mobile-menu-media-list__link {
    // color: var(--accent-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 18px;

    line-height: 1.22px;
    // padding-right: 10px;
    // padding-left: 10px;

    color: var(--secondary-text-color);

    transition: color var(--transition_data);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    // padding-bottom: 0;

    // .fff {
    //   // display: block;
    //   height: 50px;
    //   font-weight: 500;
    //   font-size: 28px;
    //   line-height: 50px;
    //   // color: rgba(33, 33, 33, 0.2);
      
    //   color: red;
    // }

    // &::after {
    //     // position: absolute;
    //     display: block;
    //     content: '';
    //     width: 1px;
    //     height: 22px;
    //     top: 140px;
    //     left: 200px;
    //     // bottom: -1px;
    //     background-color: rgba(33, 33, 33, 0.2);
    //     // border-radius: 2px;
    //   }
  }

  //  .mobile-menu-media-list__link:first-child {
  //    color: red;
  //    border-right: 1px solid rgba(33, 33, 33, 0.2);
  //  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
