.modal-window {
  position: absolute;

  @media screen and (max-width: 479px) {
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media screen and (min-width: 480px) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  padding: 40px;
  width: auto;
  height: auto;
  overflow: auto;
  background-color: var(--primery-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 479px) {
    width: 90%;
    height: auto;
    padding: 8vw;
    overflow-y: scroll;
    .modal-form__textarea {
      height: 25vw;
    }
  }

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
    overflow: hidden;
    // overflow-y: scroll;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal-window__close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--transition_data), border-color var(--transition_data);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
