.modal-form__title {
  font-weight: 700;

  @media screen and (max-width: 479px) {
    font-size: 0.7vw + 4;
  }

  @media screen and (min-width: 480px) {
    font-size: 20px;
  }

  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.modal-form__block {
  position: relative;
}

.modal-form__lable {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  margin-top: 10px;
}

.modal-form__lable--no-top-padding {
  margin-top: 0;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 42px;
  transition: border-color var(--transition_data);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primery-text-color);
  transition: fill var(--transition_data);

  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  overflow-y: auto;
  transition: border-color var(--transition_data);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__agreement-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.71;
  color: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.16;
  }
}

.modal-form__contract-terms {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-form__checkbox-icon {
  cursor: pointer;
  border: 1px solid var(--primery-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color var(--transition_data);

  .modal-form__checkbox:checked + & {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }

  .modal-form__checkbox:focus + & {
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
  }
}

.modal-form__own-checkbox-icon {
  display: none;

  .modal-form__checkbox:checked + .modal-form__checkbox-icon > & {
    display: block;
  }
}

.modal-form__submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;

  @media screen and (max-width: 479px) {
    width: 45vw;
    font-size: 0.1vw + 4;
  }

  background-color: var(--accent-color);
  color: #ffffff;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 30px auto 0px;
  border: none;
  transition: color var(--transition_data), background-color var(--transition_data);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
