body {
    background-color: var(--primery-bg-color);
    color: var(--primery-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

body.modal-open {
    overflow: hidden;
}